@use '/src/styles/variables';
@use '/src/styles/shared';
@use '/src/styles/custom-properties';

.tooltipContainer {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 10;
}

.tooltip {
	width: fit-content;
	font-size: 12px;
	font-weight: 400;
	background-color: white;
	text-align: center;
	padding: 12px;
	border-radius: 6px;
	border: 1px solid rgb(209, 209, 209);
	position: absolute;
	top: -25px;
	transition: all 0.3s ease;
	opacity: 0;
	z-index: 10;
	display: none;

	&.open {
		transform: translateY(-30px);
		opacity: 1;
		z-index: 10;
		display: block;
	}
}

.arrow {
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 12px solid white;
	position: absolute;
	bottom: -11px;
	left: calc(50% - 12px);
	z-index: 10;
}
