@use '/src/styles/variables' as variables;
@use '/src/styles/shared';
@use '/src/styles/custom-properties';

.closeBtn {
	background-color: var(--backgroundNeutralLighter);
	height: 25px;
	width: 2px;
	transform: rotate(45deg);
	position: absolute;
	top: 20px;
	right: 50px;

	&::after {
		content: '';
		background-color: var(--backgroundNeutralLighter);
		height: 25px;
		width: 2px;
		transform: rotate(270deg);
		position: absolute;
		top: 0px;
		right: 0px;
	}
}

.title {
	color: white;
	font-family: var(--secondaryFont);
	font-weight: bold;
	align-self: flex-start;
	margin-top: 2rem;

	@media #{variables.media-query(max, lg)} {
		font-weight: variables.font-weight(bold);
		font-size: 30px;
	}
}

.inputSection {
	display: grid;
	grid-template-rows: 450px 150px;
	grid-template-columns: 50% 50%;

	.buttonContainer {
		display: grid;
		grid-column-start: 1;
		grid-column-end: 3;
		justify-content: center;
		margin-bottom: 0px;

		@media #{variables.media-query(max, lg)} {
			margin-top: 50px;
			max-height: 150px;
			grid-column-start: auto;
			grid-column-end: auto;
			margin-bottom: 30px;
		}
	}

	@media #{variables.media-query(max, lg)} {
		grid-template-columns: 100%;
		grid-template-rows: 450px;
		overflow-y: auto;
		overflow-x: hidden;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	.firstColumn {
		min-width: 50%;
		margin-right: 30px;

		@media #{variables.media-query(max, lg)} {
			min-width: 100%;
			min-height: 450px;
			margin-right: 0px;
		}
	}

	.secondColumn {
		min-width: 50%;
		margin-left: 30px;

		@media #{variables.media-query(max, lg)} {
			min-width: 100%;
			margin-left: 0px;
		}
	}

	.textArea {
		min-width: 300px;
		max-width: 100%;
		min-height: 150px;
		box-sizing: border-box;
		background: none;
		border: 1px solid white;
		color: var(--backgroundNeutralLighter);
		font-family: var(--secondaryFont);
		padding: 15px;
		margin-bottom: 0px;
		border-radius: 6px;
		resize: none;

		&::placeholder {
			color: var(--placeholderColor);
		}

		&:focus {
			box-shadow: var(--inputShadow);
		}
	}

	input {
		background: none;
		border: 1px solid white;
		color: var(--backgroundNeutralLighter);
		font-family: var(--secondaryFont);
		min-width: 300px;
		box-sizing: border-box;
		max-width: 100%;
		min-height: 40px;
		padding-left: 15px;
		padding-right: 15px;
		margin-bottom: 0px;
		border-radius: 6px;
		display: block;

		@media #{variables.media-query(max, lg)} {
			margin-left: 0;
			margin-right: 0;
		}

		&::placeholder {
			color: var(--placeholderColor);
		}

		&:focus {
			box-shadow: var(--inputShadow);
		}
	}
}

.fieldLabel {
	color: var(--backgroundNeutralLighter);
	font-family: var(--secondaryFont);
	align-self: flex-start;
	margin-bottom: 10px;
	margin-top: 35px;
	display: block;

	@media #{variables.media-query(max, lg)} {
		font-weight: variables.font-weight(bold);
		font-size: 16px;
	}
}

.inputDescription {
	color: white;
	font-family: var(--secondaryFont);
	align-self: flex-start;
	font-size: small;
	display: inline-block;
	margin-top: 5px;
	max-width: 300px;
}

.checkboxesContainer {
	margin-top: 35px;
	min-width: 300px;

	.internalTitle {
		margin-bottom: 20px;
	}

	.extraDescription {
		color: white;
		font-family: var(--secondaryFont);
		align-self: flex-start;
		font-size: small;
		margin-top: 5px;
		max-width: 300px;
		margin-left: 5px;
	}

	.title {
		align-self: flex-start;
		margin-bottom: 30px;
	}

	.fieldLabel {
		margin-top: 0px;
	}

	.checkbox {
		min-width: 15px;
		min-height: 15px;
		margin-left: 0px;
		align-self: flex-start;
		margin-right: 14px;
		border-radius: 25%;
		cursor: pointer;
		display: inline;
	}
}

.rangeSelectionContainer {
	input {
		min-width: 200px;
		display: inline;
		min-height: fit-content;

		&:focus {
			box-shadow: none;
		}
	}

	.dinersQuantity {
		min-width: 50px;
		max-width: 50px;
		display: inline-block;
		min-height: 40px;
		margin-left: 10px;
		padding-left: 10px;
		padding-right: 0px;
	}
}

datalist {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 200px;
	margin-left: 20px;

	option {
		color: var(--backgroundNeutralLighter);
		font-family: var(--secondaryFont);
	}
}
