@use '/src/styles/variables' as variables;
@use '/src/styles/shared';
@use '/src/styles/custom-properties';

.messageContainer {
    min-height: 75px;
    max-height: fit-content;
    display: flex;
    align-items: center;
    width: 400px;
    padding: 5px 10px 5px 10px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 20;
    border-radius: 15px;
    animation: move-left 0.5s ease-in-out, move-right 0.5s ease-in-out 2.6s;

    @media #{variables.media-query(max, lg)} {
		min-height: 50px;
        height: 50px;
        max-height: fit-content;
        width: 300px;
        padding: 5px;
        top: 0px;
        left: 0px;
        right: 0px;
        margin-left: auto; 
        margin-right: auto;
        border-radius: 10px;
        animation: move-down 0.5s ease-in-out, move-up 0.5s ease-in-out 2.6s;
	}
}

@keyframes move-left {
    from {
      transform: translateX(400px);
    }
    to {
      transform: translateX(0);
    }
}

@keyframes move-right {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(400px);
    }
}

@keyframes move-down {
    from {
      transform: translateY(-50px);
    }
    to {
      transform: translateY(0);
    }
}

@keyframes move-up {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-50px);
    }
}

.messageIcon {
    min-height: 50px;
    max-height: 50px;
    min-width: 50px;
    max-width: 50px;
    border-radius: 35%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 35px;
}

.success {
    border: 1px solid var(--messageSuccessPrimary);
    background-color: var(--messageSuccessSecondary);

    .messageIcon {
        background-color: var(--messageSuccessPrimary);
    }
}

.error {
    border: 1px solid var(--messageErrorPrimary);
    background-color: var(--messageErrorSecondary);

    .messageIcon {
        background-color: var(--messageErrorPrimary);;
    }
}

.info {
    border: 1px solid var(--messageInfoPrimary);
    background-color: var(--messageInfoSecondary);

    .messageIcon {
        background-color: var(--messageInfoPrimary);
    }
}

.warning {
    border: 1px solid var(--messageWarningPrimary);
    background-color: var(--messageWarningSecondary);

    .messageIcon {
        background-color: var(--messageWarningPrimary);
    }
}

.message {
    font-family: var(--secondaryFont);
    font-size: 15px;
    display: inline;
    max-width: fit-content;
    margin: 15px 10px 15px 10px;
}