@use '/src/styles/variables' as variables;
@use '/src/styles/shared';
@use '/src/styles/custom-properties';

.paycheckContent {
	margin-left: 15px;
}

.payForm {
	margin-top: 30px;
}
.descInput {
	display: flex;
	flex-direction: column;
	margin-top: 15px;

	.descLabel {
		margin-bottom: 10px;
	}
	.optionalLabel {
		color: rgb(181, 178, 178);
		margin-left: 6px;
		font-size: 12px;
	}
}

.paymentData {
	margin: 0;
}

.copyBtn {
	width: 15px;
	height: 15px;
	background-size: contain;
	background-image: url('../../../../public/assets/pictures/icons-copiar-blanco.png');
	background-color: transparent;
	margin-left: 8px;
	//margin-top: 2px;
}

.inputFile {
	display: flex;
}

.uploadBtn {
	width: 25px;
	height: 21px;
	background-color: transparent;
	background-image: url('../../../../public/assets/pictures/uploadIcon.png');
	background-size: contain;
	border-radius: 0;
	margin-top: 16px;
	margin-right: 8px;
	margin-bottom: 5px;
}

.btnSection {
	display: flex;
	width: 100%;
	justify-content: center;
}

.confirmPayBtn {
	align-self: center;
}
