@use '/src/styles/variables' as variables;
@use '/src/styles/shared';
@use '/src/styles/custom-properties';

.userProfileContainer {
	font-family: var(--secondaryFont);
	.input {
		margin-top: 5px;
		border: 1px solid black;
	}
}
