@use '/src/styles/variables';
@use '/src/styles/shared';
@use '/src/styles/custom-properties';

body {
	margin: 0;
	background-size: cover;
	overflow: hidden;
}

.formLayout {
	background: #7e7d7d
		url('https://img.freepik.com/free-photo/lamb-steak-pieces-with-sauces-grilled-pepper-fresh-salad-wooden-board_140725-10580.jpg?w=996&t=st=1671126816~exp=1671127416~hmac=9240892c9c1e4ba45c248cd00be82377b16d791a242bd33d76dd835eee67612b');
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	min-height: 100vh;
	min-width: 100vw;
	background-size: cover;
	overflow: hidden;
	background-position: center;
	margin: 0;
	box-sizing: border-box;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	@media #{variables.media-query(max, lg)} {
        background: none;
		background-color: var(--backgroundMain);
	}
}

.containerLayout {
	border-radius: 4px;
	background-color: var(--backgroundMain);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	position: relative;
	padding: 50px;
	
	@media #{variables.media-query(max, lg)} {
        height: 100vh;
		justify-content: center;
		padding: 0px 50px;
	}
}
