@use '/src/styles/variables';
@use '/src/styles/shared';
@use '/src/styles/custom-properties';

.assignContainer {
	display: flex;
	align-items: center;

	.btnText {
		align-items: center;
		margin: 0 auto;
		margin-left: 3px;
		&.assign {
			color: var(--backgroundNeutral);
		}
		&.unAssign {
			color: var(--btnPrimaryDarker);
		}
	}

	img {
		&.assign {
			background-image: url('../../../../public/assets/pictures/checkIcon.png');
		}
		&.unAssign {
			background-image: url('../../../../public/assets/pictures/closeIcon.png');
		}
	}
	.button {
		box-shadow: 1px 4px 3px rgba(0, 0, 0, 0.3);
		border: none;
		background-color: none;
		font-family: var(--secondaryFont);
		font-weight: bold;
		cursor: pointer;
		margin-top: 0px;
		width: 25px;
		height: 25px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		&:hover {
			transform: scale(1.1);
		}

		&.assign {
			color: var(--backgroundNeutral);
			background-image: url('../../../../public/assets/pictures/checkIcon.png');
		}
		&.unAssign {
			color: var(--btnPrimaryDarker);
			background-image: url('../../../../public/assets/pictures/closeIcon.png');
		}
		&.add {
			color: var(--btnPrimaryDarker);
			background-image: url('../../../../public/assets/pictures/addBtn50.png');
		}
	}
}
