@use '/src/styles/variables' as variables;
@use '/src/styles/shared';
@use '/src/styles/custom-properties';

.title {
	color: white;
	font-family: var(--secondaryFont);
	font-weight: bold;
	align-self: flex-start;
	margin-top: 2rem;

	@media #{variables.media-query(max, lg)} {
		margin-top: 0;
		font-weight: variables.font-weight(bold);
		font-size: 30px;
	}
}

.registerLabel {
	color: var(--backgroundNeutralLighter);
	font-family: var(--secondaryFont);
	align-self: flex-start;
	margin-bottom: 10px;
	margin-top: 35px;

	@media #{variables.media-query(max, lg)} {
		font-weight: variables.font-weight(bold);
		font-size: 16px;
	}
}

input {
	background: none;
	border: 1px solid white;
	color: var(--backgroundNeutralLighter);
	font-family: var(--secondaryFont);
	min-width: 300px;
	min-height: 40px;
	padding-left: 15px;
	margin-bottom: 0px;
	border-radius: 6px;
	margin-left: auto;
	margin-right: auto;

	&::placeholder {
		color: var(--placeholderColor);
	}

	&:focus {
		box-shadow: var(--inputShadow);
	}
}

.inputDescription {
	color: white;
	font-family: var(--secondaryFont);
	align-self: flex-start;
	font-size: small;
	margin-top: 5px;
	max-width: 300px;
}

.checkbox {
	min-width: 15px;
	min-height: 15px;
	margin-left: 0px;
	align-self: flex-start;
	margin-right: 14px;
	border-radius: 25%;
	cursor: pointer;
}

.checkboxesContainer {
	width: 300px;
    height: auto;
    display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	position: relative;
	margin-top: 30px;

	.title {
		align-self: flex-start;
		margin-bottom: 30px;
	}

	.registerLabel {
		margin-top: 0px;
	}
}
