@use '/src/styles/variables' as variables;

.content {
	font-family: 'Raleway';
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 0;
	* {
		margin-left: 0;
		margin-right: 0;
	}
	.icons {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		@media #{variables.media-query(max, lg)} {
			flex-direction: column;
			padding: 0;
		}
	}
	.header {
		width: 100vw;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		font-family: 'Raleway';
		font-style: normal;
		* {
			margin-left: auto;
			margin-right: auto;
		}
		h1 {
			background: var(--iconsSecondary);
			opacity: 0.9;
			border-radius: 50px 4px;
			width: 30%;
			font-weight: 600;
			font-size: 56px;
			line-height: 66px;
			text-align: center;
			color: #f6faf9;
			@media #{variables.media-query(max, xl)} {
				font-size: 4vw;
			}
		}
		Button {
			font-weight: 700;
			font-size: 20px;
			line-height: 27px;
			max-width: 314px;
		}
	}
	.event {
		width: 90%;
		display: flex;
		flex-direction: column;
		align-items: center;

		h1 {
			width: fit-content;
			font-family: 'Raleway';
			font-style: normal;
			font-weight: 700;
			font-size: 56px;
			line-height: 66px;
			@media #{variables.media-query(max, xl)} {
				font-size: 4vw;
			}
			border-bottom: solid 4px var(--btnPrimaryDarker);
		}

		.eventData {
			display: flex;
			width: 100%;

			.sectionTitle {
				display: flex;
				gap: 15px;
			}

			.eventOrganization {
				display: flex;
				background-color: rgba(226, 231, 232, 0.608);
				border-radius: 10px;
				margin: 10px;
				padding-top: 15px;
				flex-direction: column;
				width: 100%;

				.secondRow {
					margin-top: 40px;
				}

				.logoTitle {
					margin-bottom: 20px;
					color: black;
				}

				.infoData {
					margin: 10px 25px;
				}
				.deleteBtn {
					background-image: url('../../../public/assets/pictures/deleteIcon.png');
					width: 15px;
					height: 15px;
					background-size: cover;
					background-color: white;
					margin-top: auto;
					margin-bottom: auto;
					margin-left: 10px;
				}

				.downloadBtn {
					background-image: url('../../../public/assets/pictures/downloadBtn.png');
					width: 30px;
					height: 30px;
					background-size: cover;
					background-color: white;
					margin: auto;
					margin-left: 10px;
				}

				.calendarLogo {
					margin-left: 15px;
					width: 36px;
					height: 40px;
					background-image: url('../../../public/assets/pictures/calendarLogo2.png');
				}
				.restaurantLogo {
					margin-left: 15px;
					width: 39px;
					height: 40px;
					background-image: url('../../../public/assets/pictures/restaurantLogo.png');
				}
				.cartLogo {
					margin-left: 15px;
					width: 40px;
					height: 40px;
					background-size: cover;
					background-image: url('../../../public/assets/pictures/carritodecompras.png');
				}

				@media #{variables.media-query(max, sm)} {
					align-items: center;
				}
			}
			.eventParticipants {
				width: 100%;
				display: flex;
				flex-direction: column;
				background-color: rgba(226, 231, 232, 0.608);
				margin: 10px;
				padding-top: 15px;
				border-radius: 10px;
				.logoTitle {
					margin-bottom: 20px;
					color: black;
				}

				.infoData {
					margin: 15px 5px;
					margin-left: 25px;
					display: flex;
				}

				.participantsLogo {
					margin-left: 15px;
					width: 40px;
					height: 40px;
					background-image: url('../../../public/assets/pictures/peopleLogo.png');
				}

				.secondRow {
					margin-top: 40px;

					.infoDataUsername {
						margin: 5px;
						align-self: center;
					}
					::-webkit-scrollbar {
						width: 4px;
					}
					::-webkit-scrollbar-track {
						background-color: transparent;
					}

					::-webkit-scrollbar-thumb {
						background-color: rgba(0, 0, 0, 0.554);
						border-radius: 1px;
					}

					.infoParticipants {
						max-height: auto;
						overflow-y: scroll;
					}

					.infoDataUsernamePayed {
						margin: 0 0 0 10px;
						color: green;
						align-self: center;
					}
					.infoDataUsernameDidntPay {
						margin: 0 0 0 10px;
						color: red;
						align-self: center;
					}
				}

				.inChargeLogo {
					width: 40px;
					margin-left: 15px;
					height: 43px;
					background-image: url('../../../public/assets/pictures/inChargeLogo.png');
				}
				.inChargeOpt {
					display: flex;
				}
				@media #{variables.media-query(max, sm)} {
					align-items: center;
					margin-top: 30px;
				}
			}
			@media #{variables.media-query(max, sm)} {
				flex-direction: column;
			}
		}
	}

	::-webkit-scrollbar {
		width: 4px;
	}
	::-webkit-scrollbar-track {
		background-color: transparent;
	}

	::-webkit-scrollbar-thumb {
		background-color: rgba(0, 0, 0, 0.554);
		border-radius: 1px;
	}

	.purchasesList {
		max-height: 110px;
		overflow-y: scroll;
	}

	.purchasesData {
		display: flex;
	}
	.btnSection {
		display: flex;
		margin-top: 40px;

		@media #{variables.media-query(max, sm)} {
			flex-direction: column;
			margin-top: 20px;
		}
	}

	.btnEvent {
		margin: 5px;
		@media #{variables.media-query(max, sm)} {
			margin-top: 15px;
		}
	}
}
