@use '/src/styles/variables' as variables;
@use '/src/styles/shared';
@use '/src/styles/custom-properties';

.settingNewPasswordContainer {
	font-family: var(--secondaryFont);
	.mainDesc {
		margin-bottom: 70px;
		max-width: 350px;
	}

	input {
		margin-top: 5px;
		border: 1px solid black;
		color: black;
		background-color: white;
		font-family: var(--secondaryFont);
		min-width: 300px;
		max-width: 100%;
		min-height: 40px;
		padding-left: 15px;
		margin-bottom: 20px;
		border-radius: 6px;
		display: block;

		@media #{variables.media-query(max, lg)} {
			margin-left: 0;
			margin-right: 0;
		}

		&::placeholder {
			color: var(--placeholderColor);
		}

		&:focus {
			box-shadow: var(--inputShadow);
		}
	}
	::-ms-reveal {
		filter: invert(0%);
	}

	.inputPasswordSection {
		position: relative;

		.passwordEye {
			position: absolute;
			left: 290px;
			top: 13px;
			height: 18px;
			width: 18px;
			background-size: contain;
			background-image: url('../../../public/assets/pictures/icons-eye-black.png');
		}
		.passwordEyeCrossedLine {
			position: absolute;
			background-color: black;
			transform: rotate(135deg);
			left: 298px;
			top: 9px;
			height: 25px;
			width: 1px;
		}
	}
}
