@use '/src/styles/variables' as variables;
@use '/src/styles/shared';
@use '/src/styles/custom-properties';

.closeBtnWrapper {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 30px;
	justify-content: center;
    position: relative;
    width: 30px;
}

.closeBtn {
    background-color: var(--backgroundNeutralLighter);
    height: 25px;
    transform: rotate(45deg);
    position: absolute;
    width: 2px;
}

.closeBtn::after {
    content: '';
    background-color: var(--backgroundNeutralLighter);
    height: 25px;
    width: 2px;
    transform: rotate(270deg);
    position: absolute;
}

.title {
	color: var(--colorWhite);
	font-family: var(--secondaryFont);
	font-weight: bold;
	align-self: flex-start;
	margin-top: 4rem;

	@media #{variables.media-query(max, lg)} {
		margin-top: 0;
		margin-bottom: 30px;
		font-weight: variables.font-weight(bold);
		font-size: 30px;
	}
}

.loginLabel {
	align-self: flex-start;
	color: var(--backgroundNeutralLighter);
	font-family: var(--secondaryFont);
	margin-bottom: 10px;

	@media #{variables.media-query(max, lg)} {
		font-weight: variables.font-weight(bold);
		font-size: 16px;
	}
}

.loginInput {
	background: none;
	border: 1px solid var(--colorWhite);
	color: var(--backgroundNeutralLighter);
	font-family: var(--secondaryFont);
	min-width: 300px;
	min-height: 40px;
	padding-left: 15px;
	margin-bottom: 15px;
	border-radius: 6px;

	&::placeholder {
		color: var(--placeholderColor);
	}

	&:focus {
		box-shadow: var(--inputShadow);
	}
}
::-ms-reveal {
	filter: invert(100%);
}

.forgotPassword {
	align-self: flex-end;
	font-size: 16px;
	font-family: var(--secondaryFont);
	font-weight: variables.font-weight(bold);
	text-decoration: none;
	color: var(--backgroundNeutralLighter);
	margin: 30px auto;
}

.register {
	align-self: flex-end;
	font-size: 16px;
	font-family: var(--secondaryFont);
	font-weight: variables.font-weight(bold);
	text-decoration: none;
	color: var(--backgroundNeutralLighter);
	margin: 0 auto 30px auto;

	.registerHighlighted {
		color: var(--btnPrimary);
	}

	&:hover {
		.registerHighlighted {
			color: var(--btnPrimaryDarker);
		}
	}
}

.inputPasswordSection {
	position: relative;

	.passwordEye {
		position: absolute;
		right: 7px;
		top: 13px;
		height: 18px;
		width: 18px;
		background-size: contain;
		background-image: url('../../../public/assets/pictures/icons-eye.png');
	}
	.passwordEyeCrossedLine {
		position: absolute;
		background-color: rgb(255, 255, 255);
		transform: rotate(135deg);
		right: 16px;
		top: 9px;
		height: 25px;
		width: 1px;
	}
}
