@use '/src/styles/variables';
@use '/src/styles/shared';
@use '/src/styles/custom-properties';

body {
	background-image: url('https://img.freepik.com/free-photo/lamb-steak-pieces-with-sauces-grilled-pepper-fresh-salad-wooden-board_140725-10580.jpg?w=996&t=st=1671126816~exp=1671127416~hmac=9240892c9c1e4ba45c248cd00be82377b16d791a242bd33d76dd835eee67612b');
	background-repeat: no-repeat;
	background-size: cover;
}

.inProgress {
	font-size: 50px;
	font-weight: bold;
	color: white;
	position: absolute;
	top: 50%;
	left: 42%;
}
