@use '/src/styles/variables';
@use '/src/styles/shared';
@use '/src/styles/custom-properties';

// TO DO: que los childrens usen un 100% del ancho, acomodar alineacion

.title {
	color: white;
	font-family: var(--secondaryFont);
	font-weight: bold;
	align-self: flex-start;
	margin-top: 4rem;
	margin-left: 5.625rem;
}

.loginLabel {
	color: var(--backgroundNeutralLighter);
	font-family: var(--secondaryFont);
	align-self: flex-start;
	margin-bottom: 10px;
	margin-left: 5.5rem;
}

input {
	background: none;
	border: 1px solid white;
	color: var(--backgroundNeutralLighter);
	font-family: var(--secondaryFont);
	min-width: 300px;
	min-height: 40px;
	padding-left: 15px;
	margin-bottom: 35px;

	&::placeholder {
		color: grey;
	}
}

.forgotPassword {
	font-size: 13px;
	font-family: var(--secondaryFont);
	text-decoration: none;
	color: var(--backgroundNeutralLighter);
	margin: 40px 80px 0 0;
	align-self: flex-end;
}
