@use '/src/styles/variables' as variables;
@use '/src/styles/shared';
@use '/src/styles/custom-properties';

.cardContainer {
	border-radius: 3px;
	max-width: 325px;
	max-height: 340px;
	background-color: #f6faf9;
	border-top: 5px solid var(availabilityPrimary);

	.cardMainData {
		min-height: 160px;
	}

	@media #{variables.media-query(max, md)} {
		width: 80vw;
	}

	&.available {
		border-top: 5px solid var(--availabilityPrimary);
		.availabilityDesc {
			background-color: var(--availabilityPrimary);
		}
		.eventCardDate {
			color: var(--availabilityPrimary);
		}
	}

	&.subscribed {
		border-top: 5px solid var(--subscribedPrimary);
		.availabilityDesc {
			background-color: var(--subscribedPrimary);
		}
		.eventCardDate {
			color: var(--subscribedPrimary);
		}
	}

	&.closed {
		border-top: 5px solid var(--btnPrimaryDarker);
		.availabilityDesc {
			background-color: var(--btnPrimaryDarker);
		}
		.eventCardDate {
			color: var(--btnPrimaryDarker);
		}
	}

	&.readyforpayment {
		border-top: 5px solid var(--subscribedPrimary);
		.availabilityDesc {
			background-color: var(--subscribedPrimary);
		}
		.eventCardDate {
			color: var(--subscribedPrimary);
		}
	}

	&.canceled {
		border-top: 5px solid var(--btnPrimaryDarker);
		.availabilityDesc {
			background-color: var(--btnPrimaryDarker);
		}
		.eventCardDate {
			color: var(--btnPrimaryDarker);
		}
	}

	&.full {
		border-top: 5px solid var(--btnPrimaryDarker);
		.availabilityDesc {
			background-color: var(--btnPrimaryDarker);
		}
		.eventCardDate {
			color: var(--btnPrimaryDarker);
		}
	}

	&.finished {
		border-top: 5px solid var(--btnPrimaryDarker);
		.availabilityDesc {
			background-color: var(--btnPrimaryDarker);
		}
		.eventCardDate {
			color: var(--btnPrimaryDarker);
		}
	}

	&.debtor {
		border-top: 5px solid black;
		.availabilityDesc {
			background-color: black;
		}
		.eventCardDate {
			color: black;
		}
	}

	&.blocked {
		border-top: 5px solid rgb(135, 126, 126);
		.availabilityDesc {
			background-color: rgb(135, 126, 126);
		}
		.eventCardDate {
			color: rgb(135, 126, 126);
		}
	}

	.cardTitleInfo {
		display: flex;
		margin-top: 20px;

		.availabilityDesc {
			width: 125px;
			height: 30px;
			color: white;
			font-size: 14px;
			font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
			border-radius: 3px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-left: 15px;
			margin-right: 25px;
		}

		.eventCardDate {
			font-weight: bold;
			font-size: 14px;
			margin-top: 5px;
		}
	}

	.cardMainInfo {
		margin: 0 20px;
		.eventTime {
			margin-top: 25px;
			font-size: 13px;
		}

		.mainInfo {
			display: flex;
			justify-content: space-between;
			.eventTitle {
				font-size: 23px;
				margin-top: 5px;
				min-height: 52px;
				font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				max-width: 100%;
			}
			.privateLogo {
				margin-right: 10px;
				width: 30px;
				height: 30px;
				background-size: contain;
				background-image: url('../../../../public/assets/pictures/icons-candado.png');
			}
		}

		.eventDescription {
			margin-top: 15px;
			font-size: 12px;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			line-clamp: 3;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.eventParticipants {
			margin-top: 5px;
			font-size: 12px;

			p {
				font-weight: bold;
				display: inline;
			}
		}

		.eventCook {
			margin-top: 10px;
			font-size: 13px;

			p {
				font-weight: bold;
				display: inline;
			}
		}

		.cardBtn {
			display: flex;
			justify-content: space-between;
			position: relative;
			margin-top: 10px;

			.participateBtn {
				width: 100px;
				position: relative;
				left: 0px;
				margin-left: 10px;
				margin-right: 10px;
			}

			.infoBtn {
				width: 100px;
				position: relative;
				right: 0px;
				margin-left: 10px;
				margin-right: 10px;
			}
		}
		.ratingSection {
			display: flex;
			align-items: center;
			position: absolute;
			bottom: 45%;
			left: 0%;
			min-height: 65px;

			.ratingAvg {
				display: flex;
				font-size: 20px;
				color: grey;
				padding-top: 1px;
			}

			.ratingRatingsAmoung {
				display: flex;
				font-size: 12px;
				color: grey;
				margin-left: 5px;
				margin-bottom: 4px;
			}
		}
	}
}
