@use '/src/styles/variables';
@use '/src/styles/shared';
@use '/src/styles/custom-properties';

.starsContainer {
	display: flex;
}

.star {
	cursor: pointer;
	transition: all 0.1s linear;
}

.star:hover {
	transform: scale(1.1);
}
