@use '/src/styles/variables';

@font-face {
	font-family: 'della respira';
	src: url('./variables/fonts/DellaRespira-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'raleway';
	src: url('./variables/fonts/Raleway-VariableFont_wght.ttf') format('truetype');
}

:root {
	--primaryFont: 'raleway', sans-serif;
	--secondaryFont: 'raleway', sans-serif;

	// Colors
	// ====================
	--btnPrimary: #bf334d;
	--btnPrimaryDarker: #a50321;
	--iconsSecondary: #5787a5;
	--backgroundMain: #333333;
	--backgroundSecondaryLighter: #d88f8f;
	--backgroundNeutralDarker: #0c0c20;
	--backgroundNeutralLighter: #f2f2f2;
	--backgroundNeutral: #4f5d2f;
	--placeholderColor: #d2d2d2;
	--availabilityPrimary: #52b69a;
	--subscribedPrimary: #5787a5;
	--colorWhite: #fff;

	//Colors for message popup
	// =======================
	--messageSuccessPrimary: #5cd65c;
	--messageSuccessSecondary: #c2f0c2;
	--messageInfoPrimary: #5c5cd6;
	--messageInfoSecondary: #c2c9f0;
	--messageErrorPrimary: #d65c5c;
	--messageErrorSecondary: #f0c2c2;
	--messageWarningPrimary: #fdb11a;
	--messageWarningSecondary: #f0dbc2;

	//Mono
	--transparent: rgba(#111111, 0%);

	// Layout
	// =====================
	--borderRadiusPrimary: 8px;
	--menuPadding: 15px;

	// Shadows
	// ======================
	--dropShadow: 0px 4px 8px rgba(246, 250, 249, 0.15);
	--dropShadow1: 0px 4px 8px rgba(246, 250, 249, 0.1);
	--dropShadow2: 0px 2px 4px rgba(246, 250, 249, 0.1);
	--inputShadow: 0px 4px 4px rgba(183, 183, 183, 0.864);
}
